//
// Card
//

// Base
.rounded-xl {
    border-radius: 1.25rem!important;
}
.bg-light-warning {
    background-color: kt-get($bg-color, light, warning) !important;
}
.bg-light-primary {
    background-color: kt-get($bg-color, light, primary) !important;
}
.bg-light-success {
    background-color: kt-get($bg-color, light, success) !important;
}
.bg-light-second {
    background-color: kt-get($bg-color, light, second) !important;
}
.bg-dark-warning {
    background-color: kt-get($bg-color, dark, warning) !important;
}
.bg-dark-primary {
    background-color: kt-get($bg-color, dark, primary) !important;
}
.bg-dark-success {
    background-color: kt-get($bg-color, dark, success) !important;
}
.bg-dark-second {
    background-color: kt-get($bg-color, dark, second) !important;
}
.color-dark-warning {
    color: kt-get($bg-color, dark, warning) !important;
}
.color-dark-primary {
    color: kt-get($bg-color, dark, primary) !important;
}
.color-dark-success {
    color: kt-get($bg-color, dark, success) !important;
}
.color-dark-second {
    color: kt-get($bg-color, dark, second) !important;
}

.card {
    margin: 0px 8px 8px 0px;
    min-width: 135px;
    max-width: 100%;
    
    .card-content {
        &.ticket-box {
            .text-value, .text-label {
                font-size: 2rem !important;
            }
            .text-value {
                margin: 0.5rem 0px;
            }
            svg {
                font-size: 3rem !important;
            }
        }
        display: flex; 
        .text-value {
            font-size: 2rem;
            margin: .25rem 0;
        }
    }
}