.my-aside-logo {
    color: #fff;
    font-size: 2rem;
    display: block;
    padding: 1rem 0px;
    text-align: center;
    justify-content: center;
}
.my-progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  min-height: 400px;
}
.my-layout {
  .layout-header-toolbar {
    display: flex;
    align-items: center;

    .header-toolbar-btn {
      margin-left: 4px;
    }
    .header-toolbar-icon {
      font-size: 2.75rem;
      margin-right: 4px;
    }
  }
  .flex-between {
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
}
.user--form {
  .user-info--avatar {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    margin-bottom: 1rem;
  }
  .user-info--form {
    .user-info--item {
      padding-right: 16px;
      margin-bottom: 4px;
      // margin-right: 1rem;
      max-width: 200px;
      input {
        max-width: 180px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .user-info--bottom-btn {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    text-transform: capitalize;
  }
}
.my-rating--container {
  display: flex;
}
@media (max-width: 1024px) {
  #kt_content {
    padding-top: 1rem;
  }
}
